{% extends 'base.html' %}

{% block title %}
   Login 
{% endblock %}

{% block custom_head %}
{% endblock %}

{% block header_navigation %}
    {{ super() }}
{% endblock %}

{% block breadcrumb %}
   Login         
{% endblock %}


{% block content %}

<div>
    {% if error %}
    <div class="container alert alert-danger alert-dismissible fade show fixed-top mt-5" role="alert">
        {{ error|safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
      
    {% endif %}
</div>

<div>
    {% if success %}
    <div class="container alert alert-success alert-dismissible fade show fixed-top mt-5" role="alert">
        {{ success|safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
      
    {% endif %}
</div>


<div class="container pt-1">

    <div class="row">
        <div class="col-md-6">
            <!-- Login Form -->
            <h1 class="text-primary mb-4">Login</h1>
            <form method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <a href="/register"><i class="bi bi-arrow-left"></i> Don't have an account? Register</a>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>

            </form>
        </div>
        <div class="col-md-6 text-center">
            <!-- Additional Text and Image -->
            <i class="bi bi-envelope text-primary" style="font-size: 10em;" ></i>
            <h4 class="text-primary">Emailing Solution For App Testing</h4>
        </div>
    
    </div>
</div>
<div class="container my-5">

    <p class="text-justify">    
        <b>Secure and Reliable Communication:</b> Fake Email Server provides a secure and reliable platform for sending and receiving emails. With advanced encryption techniques, your communications remain confidential and protected from unauthorized access.
    </p>

    <p class="text-justify">
        <b>Efficient Email Management:</b> Our platform offers efficient email management tools, allowing users to organize their inbox, filter messages, and set up custom folders for better organization. Stay organized and in control of your emails with Fake Email Server.
    </p>    

    <p class="text-justify">
        <b>User-Friendly Interface:</b> Fake Email Server features a user-friendly interface that makes it easy to navigate and use. Whether you're a novice or experienced user, our intuitive design ensures a seamless experience, enabling you to focus on your communication tasks without any hassle.
    </p>
</div>

{% endblock %}
